[Desktop Entry]
Version=1.0
Type=Application
Exec=sheep --exit
Icon=system-log-out
StartupNotify=false
Terminal=false
Categories=Sheepsquatch;
Name=Logout
Comment=Log out of the Sheepsquatch Shell
